@{
    ViewData["Title"] = "Acceso Denegado";
}

<h2>Acceso Denegado</h2>
<p>No tienes permiso para acceder a esta página. Por favor, inicia sesión para continuar.</p>

<a href="/Account/Login">Ir a la página de inicio de sesión</a>
