@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al sistema</h1>
    <p> <a href="/Account/Login">Ingresar como usuario administrador</a>.</p>
</div>
